@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text-white {
  background: linear-gradient(180deg, #FFF 36.36%, rgba(255, 255, 255, 0.00) 165%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}